.body_content {
  padding: 30px;
  flex: 0.88;
  background: linear-gradient(rgb(83, 83, 83), #2a2a2a);
}

.banner {
  color: white;
  display: flex;
  align-items: flex-end;
  margin-top: 20px;
  font-family: "spotify-bold";
}
.banner > img {
  height: 20vh;
  margin: 0 20px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.text {
  flex: 1;
  margin: 10px;
}

.text > h1 {
  font-size: 45px;
}

.text > p {
  font-size: 14px;
}
